/* elements */
header {
    background: linear-gradient(to right, #c973ee 0%, #5f117c 35%, #1d0024 100%);
    color: white;
    text-align: center;
    padding: 5px;

}

button {
    padding: 2px;
    margin: 4px 0;
}

p {
    line-height: 2.5;
}

h1 {
    font-size: 150%;
}

card {
    background-color: rgb(116, 89, 126);
    color: white;
    padding: 15px 25px;
    margin : 5px;
    text-align: center;
}

/* classess */

.column {
    float: left;
    padding: 10px;
}

.column.left {
    width:20%;
}

.column.right {
    width:70%;
}

.container {
    margin-top: 10px;
}

/* ids */

#searchBTN {
    background-color: #b685bd;
    margin-bottom: 7px;
}

#searchHistory {
    border-top: solid lightgrey;
    padding-top: 5px;
}

#search,
#searchHistory {
    display: flex;
    flex-direction: column;
}

#cardcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}